body {
    background-image: url("piste.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
}
  
h1 {
    color: navy;
    font:helvetica;
    font-size: 80px; 
    margin-left: 30px;
}

li {
      color:yellow;
      font-size: 35px;
      font:Georgia;
}

h2 {
    color:violet;
}

p {
    color:white;
}
