/* MAIN SITE GENERAL */

body {
    background-image: url("https://miro.medium.com/max/4400/1*wreVGDeTuuRyM4CEIjONFw.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
}

/* #mainTitleDiv {
    background-color: thistle;
    opacity: 0.6;
} */
  
h1 {
    color: navy;
    font-family: sans-serif;
    font-size: 80px; 
    list-style-type: none;
    text-align: center;
}

#SVP {
    background: cornflowerblue;
    padding: 10px;
}

/* #featureList {
    background-color: thistle;
    opacity: 0.6;
} */

li {
      color:rgb(224, 97, 224);
      font-size: 35px;
      font:Georgia;
      list-style-type: none;
      text-decoration: none;
      text-align: center;
}

a {
    text-decoration: none;
    color: teal;
    font-family: sans-serif;
    text-align: center;
}

a:visited, a:link, a:hover {
    color: teal;
}

p {
    color:white;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}

/* HOME PAGE */

#home {
    color:yellowgreen;
    font-family: sans-serif;
    text-align:center;
}

/* #mainContent {
    background-color: thistle;
    opacity: 0.6; 
} */


/* FEATURES */

#googleMap {
    width: 600px;
    height: 450px;
    border: 0;
}

#featureTitle {
    font-size: 50px;
}

img {
    justify-content: center;
    width: 100%;
}

#feature {
    text-align: center;
}




/* SMALL AND MOBILE DEVICES ONLY */
@media (max-width: 767px) {
    #home {
        color: purple;
    }

}

/* LARGE AND MEDIUM DEVICES */
@media (min-width: 768px) {

}
