<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Google Map Feature</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
  <div id="mainContent" class="container text-center">
    <section class="row">
      <div id="feature">
        <h1 id="featureTitle"> Information about Google Map Feature </h1>
        <p>Use the Google Map below to see where Sun Valley is located.</p>
        <iframe id="googleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46176.76495175489!2d-114.39156443586776!3d43.667975494127276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf20bccdb5d14c999!2sSun%20Valley!5e0!3m2!1sen!2sus!4v1623521613102!5m2!1sen!2sus" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </section>
  </div>
    {% endblock %}
  </body>
</html>