<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vail</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Information about Vail </h1>
    <p> Location: Colorado</p>
    <p> Vertical Feet: 3450</p>
    <p> Acres: 5289</p>
    <img src="https://www.vail.com/-/media/vail/files/trail-maps/fy20/vail-winter-frontside-trailmap.ashxs?la=en&hash=502D38E38798AF808C78A351F1FED399" height="500"/>
      
    {% endblock %}
  </body>
</html>